#document-header
    .nav-level-1 *
        font-weight: bold

body:not(.full-width) .block-call_to_action .call_to_action > div,
body.full-width .block-call_to_action
    background-image: $gradient
body:not(.full-width) .block-call_to_action .call_to_action > div,    
body:not(.full-width) .block-call_to_action .call_to_action > div::after,   
    background-attachment: fixed

body.full-width .block-call_to_action .call_to_action--without-image div > *:first-child
    &.actions
        background: red !important

.splide__arrows button
    color: white
    &[disabled]
        color: transparentize(white, .6)