<div class="container">
  <div class="footer-logo">
    {{ partial "footer/logo.html" }}
    <p class="meta">Jeu de 128 cartes fabriqué en France 🇫🇷</p>
  </div>
</div>
<div class="container">
  <div class="footer-menu">
    <div>
      <h2>Le jeu</h2>
      {{ partial "commons/menu.html"
      (dict
        "kind"        "le-jeu"
        "level"       1
      )}}
    </div>
    <div>
      <h2>À propos</h2>
      {{ partial "commons/menu.html"
      (dict
        "kind"        "a-propos"
        "level"       1
      )}}
    </div>
    <div>
      <h2>Contact</h2>
      {{ partial "commons/menu.html"
      (dict
        "kind"        "contact"
        "level"       1
        "class"       "footer-socials"
      )}}
    </div>
  </div>
</div>
<div class="container">
  <div class="footer-legals">
    {{ partial "footer/legals.html" }}
  </div>
</div>
