<div class="container">
  <div class="footer-logo">
    {{ partial "footer/logo.html" }}
    <p class="meta">Jeu de 128 cartes fabriqué en France 🇫🇷</p>
  </div>
</div>
<div class="container">
  <div class="footer-menu">
    <ul>
      <li><h2>Le jeu</h2></li>
      <li><a href="/modes-de-jeu/">Modes de jeu</a></li>
      <li><a href="/les-cartes/">Inventaire des cartes</a></li>
      <li><a href="/les-ateliers-de-sensibilisation/">Ateliers de sensibilisation</a></li>
    </ul>
    <ul>
      <li><h2>À propos</h2></li>
      <li><a href="/histoire/">L'histoire de FUTURs</a></li>
      <li><a href="/foire-aux-questions/">Foire aux questions</a></li>
      <li><a href="/newsletter/">Newsletter</a></li>
    </ul>
    <ul class="footer-socials">
      <li><h2>Contact</h2></li>
      <li><a href="https://www.instagram.com/futurs_le_jeu/" rel="noreferrer" title="Instagram" target="_blank">Suivez FUTURs sur Instagram</a></li>
      <li><a href="https://buy.stripe.com/dR628R8SL3uGfv2144" target="_blank" rel="noreferrer" title="Commander FUTURs - lien externe">Commander FUTURs</a></li>
    </ul>
  </div>
</div>
<div class="container">
  <div class="footer-legals">
    {{ partial "footer/legals.html" }}
  </div>
</div>
