{{- $direction := "" -}}
{{- $breadcrumb_is_after_hero := eq site.Params.breadcrumb.position "after-hero"  -}}
{{- $subtitle := .subtitle -}}
{{- $description := .description -}}

{{- $summary := partial "PrepareText" .context.Params.summary -}}
{{- $subtitle_is_summary := false -}}


{{ if not $subtitle }}
  {{ if and (eq site.Params.summary.position "hero") $summary }}
   {{ $subtitle = $summary }}
   {{ $subtitle_is_summary = true }}
  {{ end }}
{{ end }}

<header class="hero {{- if $breadcrumb_is_after_hero -}} hero--no-margin {{- end }}" 
  {{- if .image }}
    {{- $id := .image -}}
    {{- if isset .image "id" -}}
      {{- $id = .image.id -}}
    {{- end -}}
    {{- $image := partial "GetMedia" $id -}}
    {{- $image_url := $image.url -}}
    style="background-image: url('{{$image_url}}')"
  {{ end -}}>
  <div class="container">
    {{- if eq site.Params.breadcrumb.position "hero-start" -}}
      {{- if .breadcrumb | default true -}}
        {{ partial "header/breadcrumbs.html" .context }}
      {{- end -}}
    {{- end -}}
    <div class="content">

      {{ $file := site.Params.logo.header }}
      {{ $fileDimensions := partial "GetImageDimensions" (dict "context" . "file" $file "static" true) }}
      <img src="{{ $file }}" alt="{{ site.Title }}" height="{{ index $fileDimensions 1 }}" width="{{ index $fileDimensions 0 }}">
      
      {{- if or $subtitle $description -}}
        <hgroup>
          <h1>{{ partial "PrepareHTML" .title }}</h1>
          {{- if $subtitle -}}
            <p {{ if $subtitle_is_summary -}} class="lead" {{- end -}}>{{ partial "PrepareHTML" $subtitle }}</p>
          {{- end -}}
          {{- if $description -}}
            <p class="h1">{{ partial "PrepareHTML" .description }}</p>
          {{- end -}}
        </hgroup>
      {{- else -}}
        <h1>{{ partial "PrepareHTML" .title }}</h1>
      {{- end -}}
    </div>
    {{- if eq site.Params.breadcrumb.position "hero-end" -}}
      {{- if .breadcrumb | default true -}}
        {{ partial "header/breadcrumbs.html" .context }}
      {{- end -}}
    {{- end -}}
  </div>
</header>

{{- if $breadcrumb_is_after_hero -}}
  {{- if .breadcrumb | default true -}}
    <div class="container breadcrumb-container">
      {{ partial "header/breadcrumbs.html" .context }}
    </div>
  {{- end -}}
{{- end -}}